@{
    ViewBag.Title = "All Customers";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr id="myTable">
        <th>
            @Html.Encode("Customer Name")
        </th>
        <th>
            @Html.Encode("Customer Surname")
        </th>
        <th>
            @Html.Encode("Balance")
        </th>
        <th>
            @Html.Encode("Balance Type")
        </th>
        <th>
            @Html.Encode("Account Status")
        </th>
        <th>
            @Html.Encode("Manage Account")
        </th>
        <th></th>
    </tr>
</table>


<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:33487/api/Customer/",
            dataType: "JSON",
            success: function (data) {
                console.log(data.Data);
                $.each(data.Data, function (index, val) {
                    $("#myTable").after(
                        '<tr>' +
                        '<td>' + val.CustomerName + '</td>' +
                        '<td>' + val.CustomerSurname + '</td>' +
                        '<td>' + val.Balance + '</td>' +
                        '<td>' + val.BalanceType + '</td>' +
                        '<td>' + (val.isActive ? 'Active':'Passive') + '</td>' +
                        '<td><a href="Details/' + val.CustomerID + '">Details</a> | <a href="/Edit/' + val.CustomerID + '">Edit</a> | <a href="~/Delete/' + val.CustomerID +'">Delete</a> </td>'+
                        '</tr>'

                    )
                })
            }
        })
    })
</script>
